body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
}

.clock-container {
    text-align: center;
}

.clock {
    font-size: 60px;
    padding: 20px;
    border: 5px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.date {
    font-size: 24px;
    color: #a9a9a9;
}
